<div style="background-color: #f8f9f9;">
    <div style="margin: 0px auto; max-width: 500px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%;">
            <tbody>
            <tr>
                <td style="direction: ltr; font-size: 0px; padding: 0 0 0 0; text-align: center;">
                    <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%">
                            <tbody>
                            <tr>
                                <td align="center" style="font-size: 0px; padding: 0; word-break: break-word;">
                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse; border-spacing: 0px;">
                                        <tbody>
                                        <tr>
                                            <td style="width: 144px;">
                                                <a href="https://app.bookbeam.io/" style="color: #159e49;" target="_blank">
                                                    <img height="50" style="padding-bottom: 20px;" src="https://app.bookbeam.io/assets/img/bookbeam%20Logo%20GREEN.png" title="BookBeam" />
                                                </a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="background: white; background-color: white; margin: 0px auto; max-width: 500px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: white; background-color: white; width: 100%;">
            <tbody>
            <tr>
                <td style="direction: ltr; font-size: 0px; padding: 40px 40px 10px; text-align: center;">
                    <div style="margin: 0px auto; max-width: 420px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="direction: ltr; font-size: 0px; padding: 0; text-align: center;">
                                    <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%">
                                            <tbody>
                                            <tr>
                                                <td align="center" style="font-size: 0px; padding: 10px 0; word-break: break-word;">
                                                    <div
                                                            style="font-family: 'Open Sans', -apple-system, system-ui, 'Segoe UI', sans-serif;
                                                                    font-size: 30px;
                                                                    font-weight: 600;
                                                                    line-height: 30px;
                                                                    text-align: center;
                                                                    color: #2a2d2f;">
                                                        Hi [NAME_PLACEHOLDER],
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font-size: 0px; padding: 20px 0; word-break: break-word;">
                                                    <p style="border-top: solid 2px #159e49; font-size: 1; margin: 0px auto; width: 27px;"></p>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="margin: 0px auto; max-width: 420px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="direction: ltr; font-size: 0px; padding: 0; text-align: center;">
                                    <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%">
                                            <tbody>
                                            <tr>
                                                <td align="center" style="font-size: 0px; padding: 10px 0; word-break: break-word;">
                                                    <div style="font-family: 'Open Sans', -apple-system, system-ui, 'Segoe UI', sans-serif; font-size: 14px; line-height: 22px; text-align: center; color: #2a2d2f;">
                                                        We've received a request to

                                                        <strong>change your password</strong>.
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="font-size: 0px; padding: 10px 0; word-break: break-word;">
                                                    <div style="font-family: 'Open Sans', -apple-system, system-ui, 'Segoe UI', sans-serif; font-size: 14px; line-height: 22px; text-align: center; color: #2a2d2f;">
                                                        Just click the link below to create a new one.
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" style="font-size: 0px; padding: 30px 0; padding-bottom: 10px; word-break: break-word;">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: separate; line-height: 100%;">
                                                        <tbody>
                                                        <tr>
                                                            <td align="center" bgcolor="#159E49" role="presentation" style="border: none; border-radius: 20px; background: #159e49;" valign="middle">
                                                                <a
                                                                        href="https://app.bookbeam.io/#/auth/reset-password?resetToken=[RESET_TOKEN_PLACEHOLDER]"
                                                                        style="
                                                                                        display: inline-block;
                                                                                        background: #159e49;
                                                                                        color: white;
                                                                                        font-family: 'Open Sans', -apple-system, system-ui, 'Segoe UI', sans-serif;
                                                                                        font-size: 14px;
                                                                                        font-weight: 600;
                                                                                        line-height: 120%;
                                                                                        margin: 0;
                                                                                        text-decoration: none;
                                                                                        text-transform: none;
                                                                                        padding: 12px 40px;
                                                                                        border-radius: 20px;
                                                                                    "
                                                                        target="_blank">
                                                                    Change my password
                                                                </a>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="margin: 0px auto; max-width: 420px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="width: 100%;">
                            <tbody>
                            <tr>
                                <td style="direction: ltr; font-size: 0px; padding: 30px 0 0 0; text-align: center;">
                                    <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                            <tbody>
                                            <tr>
                                                <td style="background-color: #f8f9f9; border: solid 1px #dee1e2; border-radius: 4px; vertical-align: top; padding: 10px 20px;">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                                        <tbody>
                                                        <tr>
                                                            <td align="center" style="font-size: 0px; padding: 10px 0; word-break: break-word;">
                                                                <div style="font-family: 'Open Sans', -apple-system, system-ui, 'Segoe UI', sans-serif; font-size: 12px; line-height: 18px; text-align: center; color: #2a2d2f;">
                                                                    If you don't want a <strong>new password</strong>, you can ignore this message. Your password won't change until you access the link above and create a new
                                                                    one.
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="background: white; background-color: white; margin: 0px auto; max-width: 420px;">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: white; background-color: white; width: 100%;">
                            <tbody>
                            <tr>
                                <td style="direction: ltr; font-size: 0px; padding: 20px 0 30px 0; text-align: center;">
                                    <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 100%;">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%">
                                            <tbody>
                                            <tr>
                                                <td align="center" style="font-size: 0px; padding: 10px 0; word-break: break-word;">
                                                    <div style="font-family: 'Open Sans', -apple-system, system-ui, 'Segoe UI', sans-serif; font-size: 14px; line-height: 22px; text-align: center; color: #2a2d2f;">
                                                        <div>Best,</div>
                                                        The BookBeam Team
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="background: #eaecec; background-color: #eaecec; margin: 0px auto; border-radius: 0 0 6px 6px; max-width: 500px;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="background: #eaecec; background-color: #eaecec; width: 100%; border-radius: 0 0 6px 6px;">
            <tbody>
            <tr>
                <td style="border-top: solid 1px #dee1e2; direction: ltr; font-size: 0px; padding: 7px 0; text-align: center;">
                    <div style="font-size: 0; line-height: 0; text-align: left; display: inline-block; width: 100%; direction: ltr;">
                        <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 24%;">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                <tbody>
                                <tr>
                                    <td style="vertical-align: top; padding: 0 1% 0 0;">
                                        <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
                                            <tbody>
                                            <tr>
                                                <td align="center" style="font-size: 0px; padding: 4px 0 4px 40px; word-break: break-word;">
                                                    <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse; border-spacing: 0px;">
                                                        <tbody>
                                                        <tr>
                                                            <td style="width: 38px;">
                                                                <img width="38" height="auto" src="https://app.bookbeam.io/assets/img/support.png"
                                                                     style="max-width: 38px; margin: auto; border: 0; display: block; outline: none; text-decoration: none; height: auto; width: 100%; font-size: 13px;"/>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div style="font-size: 0px; text-align: left; direction: ltr; display: inline-block; vertical-align: top; width: 75%;">
                            <table border="0" cellpadding="0" cellspacing="0" role="presentation" style="vertical-align: top;" width="100%">
                                <tbody>
                                <tr>
                                    <td align="left" style="font-size: 0px; padding: 8px 40px 10px 10px; word-break: break-word;">
                                        <div style="font-family: 'Open Sans', -apple-system, system-ui, 'Segoe UI', sans-serif; font-size: 12px; line-height: 14px; text-align: left; color: #2a2d2f;">
                                            If there's anything we can help you with, please contact us at
                                            <a href="mailto:support@bookbeam.io" style="color: #159e49;" target="_blank">support@bookbeam.io</a>.
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
